*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width: 120px;
    margin: 10px 15px;
}



.conteudo {
    background-color: #A6826D;
    width: 100%;
}
.conteudo-principal-video{
    text-align: center;
    padding: 20px;
}
.conteudo-principal-texto {
    width: 100%;
    padding: 10px;
}

.conteudo-principal-texto h2{
    color:#462919 ;
    font-size: 3rem;
}

.conteudo-principal-texto  p {
    color: white;
    font-size: 1rem;
    text-align: justify;
}

.conteudo-principal-foto {
     display: flex;
     width: 60%;
     justify-content: center;
     margin: 0 auto;
}
.conteudo-principal-foto img {
    width: 300px;
    border: 5px solid #8C5F37;
}
.conteudo-principal-foto-item{
    width: 300px;
}

.conteudo-principal-musica p {
    color: white;
    font-size: 1rem;
    text-align: justify;
    padding: 10px;
}
.musica-1 {
    margin: 10px 20px;
}
footer{
    background: #593825;
}

.footer-sobre  {
    display: block;
    text-align: center;
    
}
.conteudo-principal-musica h2{
    color:#462919 ;
    font-size: 40px;
    padding:  0 10px;
}

.navbar{
    display: inline-block;
    background:#593825 ;
    width: 100%;
    text-align: center;
}
.navbar-menu{
    width: 100%;
    margin: 0 auto;
}

.lista-navbar{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
}
.navbar-menu li{
    display: inline-block;
    width: 100px;
    height: 25px;
    background-color: tomato;
    margin: 5px;
    border-radius: 5px ;
    
}
.itens-navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    
}

.navbar-menu li:hover{
    background: white;
    border: 1px solid black;
}
.itens-navbar a:hover{
    font-size: 1.1em;
    color: tomato;
}
